/* ./src/index.css */
@tailwind base;
@tailwind components;
@tailwind utilities;
@import "~react-image-gallery/styles/css/image-gallery.css";

.image-gallery-content .image-gallery-slide .image-gallery-image {
  max-height: initial;
}
.image-gallery-left-nav .image-gallery-svg, .image-gallery-right-nav .image-gallery-svg {
  display: none;
}
.image-gallery-ico{
  display: none;
}